# Logs
logs
*.log

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage

# Dependencies
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# OS
.DS_Store